@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/bundles/Css")
</head>
<body>
    <div class="green">
        something green
    </div>
    <footer>
        some legal text
    </footer>
    @Scripts.Render("~/bundles/foo")
    @Scripts.Render("~/bundles/bar")
</body>
</html>
